<%- include header %>
<div class="article">
	<a href="/detail/<%= art.author %>/<%= art._id %>">
		<h1><%= art.title %></h1>
	</a>
	<p>
		<span class="author">
			<span class="text-bold">Author:</span>
			<a href="/detail/<%= art.author %>"><%= art.author %></a>
		</span>|
		<span class="create-time">
			<span class="text-bold">PostTime:</span>
			<%= moment(art.createTime).format('LL HH:mm:ss') %>
		</span>|
		<span class="pv">
			<span class="text-bold">view:</span>
			<%= art.pv %>
		</span>|
		<span class="tag"><%= art.tag %></span>
	</p>
	<p></p>
	<p></p>
	<p><%= art.content %></p>
</div>
<p>  </p>
<p>  </p>
<p>  </p>
<p>  </p>
<% if(art.comment) { %>
	<div class="article">
		<p>
			<span class="pv">
				<span style="font-size: larger;font-weight: bolder;">匿名评论板</span>
			</span>|
			<span style="font-size: larger;" class="text-bold">最新评论</span>
		</p>
		<p><%= art.comment %></p>
		<span style="float: right;" class="create-time">
			<span class="text-bold">Comment'Time:</span>
			<%= moment(art.commentsTime).format('LL HH:mm:ss') %>
		</span>
		<br/>
		<p></p>
		<p></p>
	</div>
<% } else { %>
		<p style="padding: 90px 0 30px 0;color: grey;"> 还没有评论 快来评论吧 ! </p>
<% } %>
<form method="post">
	<div style="padding-top: 80px;" class="form-group">
		<div class="listBox message">
			<p class="textLeft clear">
				<textarea required cols="10" rows="5" wrap="hard" class="form-control" name="comments" id="content" placeholder="发表评论"></textarea>
				<button type="submit" id="enter" style="outline: none;" class="submit btn btn-info">提交</button>
			</p>
		<div class="messageList">
		</div>
	</div>
</form>
<%- include footer %>