<%- include header %>
<a href="/reg" role="button" class="btn btn-info">新增用户</a>
<% datas.forEach(function(datas) { %>
	<div class="row" style="padding-top: 50px;">
		<div class="col-xs-8 col-xs-offset-2">
			<div class="article-box">
				<ul>
						<li>用户名:<%= datas.username %></li>
						<li>邮箱:<%= datas.email %></li>
				</ul>
				<!-- <a href="/adminedit/<%= datas._id %>" role="button" class="btn btn-primary">修改</a> -->
				<a href="/adminremove/<%= datas._id %>" role="button" class="btn btn-warning">移除该用户</a>
			</div>
		</div>
	</div>
<% }); %>
<%- include footer %>